{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "paths": [
          "./src"
        ]
      }
    }
  },
  "rules": {
    "function-paren-newline": "off",
    "import/prefer-default-export": "off",
    "no-prototype-builtins": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "camelcase": "off",
    "no-nested-ternary": "off",
    "prettier/prettier": [
      "error"
    ]
  }
}
